<section class="sidebar">
  <nav class="menu">
    <ul class="tree">
      <li>
        <label for="menu_heading1" class="menu-heading">My Websites</label>
        <input type="checkbox" class="menu-heading-box" checked="" disabled="" id="menu_heading1">
        <ul class="subtree">
          <li><a href="http://edge226.github.io/" class="menu-entry">Edge226</a></li>
          <li>
            <label for="menu_subheading1" class="menu-subheading">Projects</label>
            <input type="checkbox" class="menu-heading-box" id="menu_subheading1">
            <ul class="subtree">
              <li>
                <label for="menu_subheading2" class="menu-subheading">Lucid OS</label>
                <input type="checkbox" class="menu-heading-box" id="menu_subheading2">
                <ul class="subtree">
                  <li><a href="http://edge226.github.io/lucid/" class="menu-entry">Roadmap</a></li>
                </ul>
                <li><a href="http://edge226.github.io/projects/" class="menu-entry">Projects Table</a></li>
                <li>
                  <label for="menu_subheading3" class="menu-subheading">ghmd-ccs</label>
                  <input type="checkbox" class="menu-heading-box" id="menu_subheading3">
                  <ul class="subtree">
                    <li><a href="http://edge226.github.io/ghmd-ccs/" class="menu-entry">Information</a></li>
                  </ul>
                </li>
              </li>
            </ul>
          </li>
          <li><label for="menu_subheading4" class="menu-subheading">Comp-Sci Experiments</label><input type="checkbox" class="menu-heading-box" id="menu_subheading4"></li>
        </ul>
      </li>
      <li>
        <label for="menu_heading2" class="menu-heading">Communities</label>
        <input type="checkbox" class="menu-heading-box" checked="" disabled="" id="menu_heading2">
        <ul class="subtree">
          <li><a href="http://www.cupoflinux.com" target="_blank" class="menu-entry">Cup of Linux</a></li>
          <li><a href="http://techandcoffee.info/" target="_blank" class="menu-entry">Tech & Coffee</a></li>
        </ul>
      </li>
      <li>
        <label for="menu_heading3" class="menu-heading">Friends of Mine</label>
        <input type="checkbox" class="menu-heading-box" checked="" disabled="" id="menu_heading3">
        <ul class="subtree">
          <li><a href="https://github.com/anexation" target="_blank" class="menu-entry">Anex</a></li>
          <li><a href="https://github.com/JeroenMathon" target="_blank" class="menu-entry">Jeroen Mathon</a></li>
        </ul>
      </li>
    </ul>
  </nav>
</section>
