.sidebar{
  position: absolute;
  height: 100%;
  width: 15%;
  left 0px;
  float: left;
}

.tree > li > .menu-heading {
  padding: 0;
  margin: -10px;
  color: #B5E853;
}

.menu-entry {
  color: #B5E853;
  text-decoration: none;
}

.menu-subheading {
  color: #B5E853;
}

.sidebar ul li:before {
  margin-right: 12px;
  content: "";
}

.menu-heading-box {
  display: none;
}

.tree > li {
  margin-left:
}
.subtree {
  margin-left: -22px;
}

/* Old menu items.
.sidebar > a {
  display: block;
}

.sidebar > h3{
  text-align: center;
}

a.btn-sub {
  margin-left: 10%
}*/
