.sidebar{
  position: absolute;
  height: 100%;
  width: 15%;
  left 0px;
  float: left;
}

.sidebar > a {
  display: block;
}

.sidebar > h3 {
  text-align: center;
}


.menu {
	display: block;
	margin: 0;
	padding: 0;
	border: 0;
	width: 100%;
	height: auto;
	list-style: none;
}

.submenu {
	display: none;
	margin: 0;
	padding: 0;
	border: 0;
	width: 100%;
	height: auto;
	list-style: none;
}

a.btn-sub {
  margin-left: 10%
}
